a{
    text-decoration-line: underline;
    font-size:15px;
    font-style:italic;
    color:rgb(41, 41, 218)
}

body{
    text-align:center;
}

ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}
